<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".TeeTimeCaddieApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeeTimeCaddie"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="${performanceCollectionEnabled}" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="${logPerformanceCollection}" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="${analyticsCollectionEnabled}" />

        <activity
            android:name=".TeeTimeCaddieActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 