<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446403753740-780genc8e1k1s4o0497k91oqnll974v7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446403753740-780genc8e1k1s4o0497k91oqnll974v7</string>
	<key>API_KEY</key>
	<string>AIzaSyALbd-Q7qNAUv1SOwvfGw0gC5Ft4xDkRLM</string>
	<key>GCM_SENDER_ID</key>
	<string>446403753740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.bradball.teetimecaddie.ios</string>
	<key>PROJECT_ID</key>
	<string>tee-time-caddie</string>
	<key>STORAGE_BUCKET</key>
	<string>tee-time-caddie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446403753740:ios:d8a4113a774dbd0bc37b29</string>
</dict>
</plist>